#pg-title{
	font-size:48pt;
	padding-left:30px;
	border-bottom:1px solid lightgrey;
}
#cust-order-summary1{
	border-bottom:2px solid black;
	height:400px;
}

.table-num
{
	overflow-x: scroll;
}
.table-num button
{
	font-size: 20pt;
	margin: 30px 8px;
  border-radius: 5px;
}

button
{
	border-style: solid;
	border-width: 1px;
  border-radius: 5px;
	padding: 5px 12px;
	margin: 0 2px;
}
.bill-request-section{
	border-right:2px solid black;
	height:130px;
	padding: 30px 0 0;
}

button:hover
{
	background-color: #aaaaaa;
}

#cust-order-summary1
{
	overflow-y: scroll;
	height: 520px;
	position: relative;
	
}

#cust-order-summary1 button
{
  border-radius: 5px;
}
.search-entry
{
	margin: 60px auto;
}

.search-entry p
{
	font-size: 28pt;
}

.search-entry input
{
	margin: 0 10px;
}

.search-entry button
{
	
}

.modal-dialog {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  margin: 0 auto;
}

.modal button
{
	margin: 1px auto;
}

.mod-header
{
	font-size: 28pt;
}

p.order-summary-title
{
	margin: 0 10%;
	font-size: 20pt;
	
}

ol.food-list
{
	border-top-style: solid;
	border-top-width: 1px;
	padding: 0 30% 0 2%;
	margin: 5px 12px 0px;
}

ol.food-list li
{
	padding: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: lightgrey;
	
}

.payment-info
{
	position: absolute;
	bottom: 23%;
	text-align: right;
	right: 3%;
}

.total-price
{
	font-size: 28pt;
}

.payment-method
{
	position: absolute;
	bottom: 8%;
	text-align: right;
	right: 2%;
}

.payment-method button
{
	font-size: 18pt;
	padding: 10px 25px; 
}
.modal input
{
	text-align: right;
	font-size: 28pt;
	margin: 10px auto;
}