body
{
  overflow-x:hidden;
}

#ordering-content
{
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 15px 0;
  position:absolute;
  height: 750%;
  width: 100%;
}

form
{
  padding: 0 35px 250px;
}

.cartFoodList
{
  height: 350px;
  overflow-y: scroll;
}

.item-desc
{
  position:fixed;
  right: 20%;
}

.cart-btn
{
  position:fixed;
  right: 6%;
}
